# pip==24.3.1
# setuptools
# wheel
# numpy
# joblib==1.2.0
# streamlit==1.27.2
# scikit-learn==1.2.2
# pandas==1.5.2

pip==24.3.1
setuptools
wheel
numpy==1.23.5
joblib==1.2.0
streamlit
scikit-learn==1.2.2
